[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-sitemap = "==1.0.2"
sphinx-gitstamp = "==0.3.0"
sphinx-notfound-page= "==0.3.0"
Sphinx = "==2.0.1"

[requires]
python_version = "3.7"
